@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
html{
	height:100%;
}
body{
	heiht: 100%;
	font-family: 'Noto Sans KR', sans-serif;
	color: #333;
}
main{
		width:1200px;
		margin: 0 auto;
		margin-bottom: 80px;
	}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    border: 0
}
.clearfix::after{
    display: table;
    clear:  both;
    content: '';
}
header{
	padding-top: 10px;
}